<div class="c4">
  <div class="app-info">
    <div class="pop-corner bg-yes">
      <i class="fa fa-check"></i>
    </div>
    <div class="row">
      <div class="wx4">
        <img src=[[application.icon]] class="img-responsive">
      </div>
      <div class="wx8">
        <p ng-bind="application.name"></p>
        <div class="small">
          <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></p>
          <p>[[application.number_ratings]] ratings</p>
          <p class="text-yes">FREE</p>
        </div>
      </div>
    </div>
  </div>
</div>
