#store_header, #store_menu, #store_content, #store_footer {
padding:1px 0;
}
#store_header {
background-color:#FF9900;
text-align:center;
}
#main {
max-with:960px;
margin:auto;
}
#store_menu  {
float:left;
width:240px;
background-color:#FF3366;
}
#store_content {
margin-left:245px;
background-color:lightgrey;
}
#store_footer {
background-color:#669933;
text-align:center;
clear:both;
}

#app  {
    background-color:#ffffff;
    display:table-cell;
    width: 33%;
}

#app img {
    max-height: 72px;
    max-width: 72px;
}