
{% block content %}
    {% if applications %}
            <div id="store_header">
                {% csrf_token %}
                <input type="text" id="search" name="search"/>
                <select  id="filter" name="filter">
                    <option  value="evaluation">Evaluation</option>
                    <option  value="downloads">Popularity</option>
                    <option  value="price">Price</option>
                </select>
                <select id="ascdesc" name="ascdesc">
                    <option  value="asc">Ascending</option>
                    <option  value="desc">Decending</option>
                </select>
            </div>
            <div id="store_main">

                <div id="store_menu">
                    <h3>Price</h3>
                    <input id="price_commercial" class="price" type="checkbox" name="price" value="commercial"> Commercial
                    <input id="price_free" class="price" type="checkbox" name="price" value="free"> Free
                    <h3>Minimum rating</h3>
                    <input id="star1" class="evaluation" name="evaluation" type="radio" value="1"/>
                    <input id="star2" class="evaluation" name="evaluation" type="radio" value="2"/>
                    <input id="star3" class="evaluation" name="evaluation" type="radio" value="3"/>
                    <input id="star4" class="evaluation" name="evaluation" type="radio" value="4"/>
                    <input id="star5" class="evaluation" name="evaluation" type="radio" value="5"/>
                    <h3>Categories</h3>
                </div>

                <div id="store_content">
                    {% for app in applications %}
                        <span id="app"><a target="_blank" href="{{ app.market_url }}"><img src="{{ app.icon }}" />{{ app.name }}</a><br />{{ app.downloads.label }}<br />{{ app.evaluation }}<br />{{ app.currency }} {{ app.price }}</span>
                        {% if forloop.counter|divisibleby:3 %}
                            <br />
                        {% endif %}
                    {% endfor %}


                    <div class="pagination">
                        <span class="step-links">
                            {% if applications.has_previous %}
                                <a href="?page={{ applications.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ applications.number }} of {{ applications.paginator.num_pages }}.
                            </span>

                            {% if applications.has_next %}
                                <a href="?page={{ applications.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
    {% else %}
        <p>No apps are available.</p>
    {% endif %}
{% endblock content %}