{% extends "base.html" %}

{% block content %}

    <h1>About</h1>

    <p>Appagoo is a project held by HES-SO // University of Applied Sciences Western Switzerland, HEG Arc, Neuchâtel, Switzerland.</p>

    <p>Appagoo is a proof-of-concept framework allowing smartphone users to protect their privacy.</p>

    <p>Appagoo clearly differ itself from current and future market players by its scientific approach, our recommendations being based on scientific studies conducted on the subject.</p>

{% endblock content %}