{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 small-12 columns">
            <p><img src="http://placehold.it/1000x400&text=[banner img]"/></p>
        </div>
    </div>
    <div class="row">
        <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&amp;text=Thumbnail">
            <h6 class="panel">Description</h6>
        </div>
        <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&amp;text=Thumbnail">
            <h6 class="panel">Description</h6>
        </div>
        <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&amp;text=Thumbnail">
            <h6 class="panel">Description</h6>
        </div>
        <div class="large-3 small-6 columns">
            <img src="http://placehold.it/250x250&amp;text=Thumbnail">
            <h6 class="panel">Description</h6>
        </div>
    </div>
{% endblock content %}